<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.mapper.CommentMapper">

	<insert id="saveComment" parameterType="CommentSaveRequest">
		INSERT INTO tb_comment (
			post_id,
		    writer_id,
		    content,
		    depth,
		    parent_id,
		    created_date,
			modified_date,
		    deleted_date
		) VALUES (
			  #{id}
			, #{writerId}
			, #{content}
			, 0
			, ${parentId}
			, now()
			, now()
			, null
		)
	</insert>


	<select id="selectCommentList" parameterType="CommentRequest" resultType="CommentDTO">
		SELECT
		    id,
		    parent_id as parentId,
		    writer_id as writerId,
		    content,
		    created_date as createdDate
		FROM
			tb_comment
		WHERE 1=1
		AND	post_id = #{postId}
		<if test="parentId == null or parentId == ''">
		AND depth = 0
		</if>

		<if test= "parentId != null and parentId != ''">
		  AND parent_id = #{parentId}
		</if>

	</select>

	<select id="selectCommentTotalCount" parameterType="CommentDTO" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_comment
		WHERE
			delete_yn = 'N'
		AND
			board_idx = #{boardIdx}
	</select>

</mapper>