<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <form method="post" action="/sign/sign-up">
    <div class="container">
      <h1>회원가입</h1>
      <div class="form-group">
        <label for="account">userId</label>
        <input type="text" class="form-control" id="account" name="account" placeholder="사용자 아이디">
      </div>
      <div class="form-group">
        <label for="email">email</label>
        <input type="text" class="form-control" id="email" name="email" placeholder="사용자 아이디">
      </div>
      <div class="form-group">
        <label for="memberName">memberName</label>
        <input type="text" class="form-control" id="memberName" name="memberName" placeholder="사용자 이름">
      </div>
      <div class="form-group">
        <label for="phone">memberName</label>
        <input type="text" class="form-control" id="phone" name="phone" placeholder="핸드폰 번호">
      </div>
      <div class="form-group">
        <label for="nickname">nickname</label>
        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="사용자 이름">
      </div>
      <div class="form-group">
        <label for="inputPassword4">password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="사용자 비밀번호">
      </div>
      <button type="submit" class="btn btn-primary">가입 완료</button>
    </div>
  </form>

</th:block>
</html>