<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>글작성 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>게시판 관리</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>게시판 관리</span> <span>리스트형</span> <span>글작성</span></p>
  </div>

  <div class="content">
    <section>
      <form id="saveForm" method="post" autocomplete="off">
        <!-- 게시글 번호 -->
        <input type="hidden" id="id" name="id" th:value="${post.id}" />
        <!-- 게시판 번호 -->
        <input type="hidden" id="boardId" name="boardId" th:value="${board.id}" />
        <!-- 파일 그룹 키 -->
        <input type="hidden" id="fileGroup" name="fileGroup" th:value="${post.fileGroup}" />
        <!-- 공지글 여부 -->
        <input type="hidden" id="noticeYn" name="noticeYn" />

        <table class="tb tb_row">
          <colgroup>
            <col style="width:15%;" /><col style="width:35%;" /><col style="width:15%;" /><col style="width:35%;" />
          </colgroup>
          <tbody>

          <tr>
              <th scope="row">게시판</th>
              <td>[[${board.title}]]</td>

              <th scope="row">등록일</th>
              <td>[[ ${post.modifiedDate} ]]</td>
          </tr>

          <tr>
            <th>제목 <span class="es">필수 입력</span></th>
            <td colspan="3"><input type="text" id="title" name="title" maxlength="50" th:value="${post.title}" /></td>
          </tr>

          <tr>
            <th>작성자</th>
            <td colspan="3">[[ ${post.writerId} ]]</td>
          </tr>

          <tr>
            <th scope="row">비밀글</th>
            <td>
              <span class="chkbox"><input type="checkbox" id="isNotice" name="isNotice" class="chk" /><i></i><label for="isNotice"> 설정</label></span>
            </td>
            <td colspan="3"><input type="text" id="password" name="password" maxlength="20" ></td>
          </tr>

          <tr>
            <th>내용 <span class="es">필수 입력</span></th>
            <td colspan="3"><textarea id="content" name="content" cols="50" rows="10" >[[ ${post.content} ]]</textarea></td>
          </tr>
          <tr>
            <th scope="row">첨부파일</th>
            <td colspan="3">
              <div th:each="file : ${fileList}">
                <a th:if="${file}" th:href="@{/file/{id}(id=${file.id})}" th:text="${file.getOriginalFilename()}"></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <p class="btn_set">
          <button type="button" id="saveBtn" th:onclick="savePost()" class="btns btn_st3 btn_mid">수정</button>
          <a th:href="@{/board/{id}(boardId=${board.id})}" class="btns btn_bdr3 btn_mid">뒤로</a>
        </p>
      </form>


      <script>
        CKEDITOR.replace('content' , {
          width: '100%',
          height: '200px',
          language : 'ko'
        }).catch(error => {
          console.error(error);
        });
      </script>
    </section>
  </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.onload = () => {
      //renderPostInfo();
    }


    // 수정일 초기화
    function initModifiedDate() {
      document.getElementById('modifiedDate').value = dayjs().format('YYYY-MM-DD');
    }


    // 게시글 상세정보 렌더링
    function renderPostInfo() {
      const post = [[ ${post} ]];

      if ( !post ) {
          initModifiedDate();
          return false;
      }

      const form = document.getElementById('saveForm');
      const fields = ['id', 'title', 'content', 'writerId', 'noticeYn'];
      form.isNotice.checked = post.noticeYn;
      // form.modifiedDate.value = dayjs(post.modifiedDate).format('YYYY-MM-DD HH:mm');

      fields.forEach(field => {
        form[field].value = post[field];
      })
    }


    // 게시글 저장
    function savePost() {
      const form = document.getElementById('saveForm');
      let content = CKEDITOR.instances['content'].getData().value;
      form.content.value = content;

      const fields = [form.title, form.content];
      const fieldNames = ['제목', '내용'];

      for (let i = 0, len = fields.length; i < len; i++) {
        isValid(fields[i], fieldNames[i]);
      }

      document.getElementById('saveBtn').disabled = true;
      form.noticeYn.value = form.isNotice.checked;
      form.action = '/post/update';
      form.submit();
    }

    /*]]>*/
  </script>
</th:block>
</html>