<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/basic">
<th:block layout:fragment="title">
    <title>상세 페이지</title>
</th:block>

<th:block layout:fragment="content">
    <div class="page_tits">
        <h3>게시판 관리</h3>
    </div>

    <div class="content">

        <section>
            <table class="tb tb_row">
                <colgroup>
                    <col style="width:10%;"/>
                    <col style="width:23%;"/>
                    <col style="width:10%;"/>
                    <col style="width:23%;"/>
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">글 유형</th>
                    <td th:text="${post.noticeYn == '0' ? '일반' : '공지'}"></td>

                    <th scope="row">등록일</th>
                    <td th:text="${#temporals.format( post.createdDate, 'yyyy-MM-dd HH:mm' )}"></td>
                </tr>
                <tr>
                    <th scope="row">제목</th>
                    <td>[[ ${post.title} ]]</td>

                    <th scope="row">조회</th>
                    <td colspan="3">[[ ${post.viewCnt} ]]</td>
                </tr>
                <tr>
                    <th scope="row">작성자</th>
                    <td colspan="3">[[ ${post.writerId} ]]</td>
                </tr>
                <tr>
                    <th scope="row">내용</th>
                    <td colspan="3">[[ ${post.content} ]]</td>
                </tr>
                <tr>
                    <th scope="row">첨부파일</th>
                    <td colspan="3">
                        <div th:each="file : ${fileList}">
                            <a th:if="${file}" th:href="@{/file/{id}(id=${file.id})}" th:text="${file.getOriginalFilename()}"></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <p class="btn_set">
                <a th:href="@{/post/update/{id}(id=${post.id},boardId=${board.id})}"
                   class="btns btn_bdr4 btn_mid">수정</a>
                <a th:href="@{/post/delete/{id}(id=${post.id},boardId=${board.id})}"
                   class="btns btn_bdr1 btn_mid">삭제</a>
                <a th:href="@{/board/{id}(id=${board.id})}" class="btns btn_bdr3 btn_mid">뒤로</a>
            </p>

            <!-- 댓글 영역     -->
            <section class="mb-5">
                <!-- 댓글작성 영역 -->
                <form id="saveComment" method="post">
                    <div class="board_cmt">
                        <div class="tit" style="margin-left: 6px;"><em id="totalCmt" class="bico_comment"></em>Comments
                        </div>
                        <div class="board_cmt_write">
                            <div class="col-lg-12">
                                <div class="row">
                                    <input type="hidden" ip="postId" name="postId" th:value="${post.id}"/>
                                    <input type="hidden" id="boardId" name="boardId" th:value="${board.id}"/>
                                    <input type="hidden" id="parentId" name="parentId" th:value="0"/>

                                    <div class="form-group col-sm-6">
                                        <input type="text" name="content" placeholder="소중한 댓글을 작성해주세요^^"
                                               maxlength="200"/>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <input class="form-control input-sm" name="writerId" type="text"
                                               placeholder="작성자"/>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <button type="button" onclick="saveComment('saveComment')"
                                                class="btn btn-primary btn-sm btn-block replyAddBtn">
                                            <i class="fa fa-save btn "></i> 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br>

                <!-- Comments section-->
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment with nested comments-->
                        <div th:each="comment : ${commentList}" class="d-flex mb-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                            alt="..."/></div>
                            <div class="ms-3">
                                <div th:text="${comment.writerId}" class="fw-bold"></div>
                                <p th:text="${comment.content}"></p>
                                <div class="row mb-4">
                                    <button th:onclick="deleteComment([[${comment.id}]])" th:text="삭제"></button>

                                    <details class="col-md-10 col-lg-9">
                                        <summary>댓글달기</summary>
                                        <form th:id="${comment.id}" method="post">
                                            <input type="hidden" name="postId" th:value="${post.id}"/>
                                            <input type="hidden" name="boardId" th:value="${board.id}"/>
                                            <input type="hidden" name="parentId" th:value="${comment.id}"/>
                                            <input type="text" name="content" placeholder="댓글 내용"/>
                                            <input type="text" name="writerId" placeholder="작성자"/>
                                            <button type="button" class="btn btn-primary mt-2"
                                                    th:onclick="saveComment([[${comment.id}]])">쓰기
                                            </button>
                                        </form>
                                    </details>

                                    <details class="col-md-10 col-lg-9">
                                        <summary>댓글보기</summary>
                                        <!-- Child comment 1-->
                                        <div th:each="commentChild : ${comment.getChildCommentList()}"
                                             class="d-flex mt-4">
                                            <div class="flex-shrink-0"><img class="rounded-circle"
                                                                            src="https://dummyimage.com/50x50/ced4da/6c757d.jpg"
                                                                            alt="..."/></div>
                                            <div class="ms-3">
                                                <div th:text="${commentChild.writerId}" class="fw-bold"></div>
                                                <p th:text="${commentChild.content}"></p>
                                                <input type="button" th:onclick="deleteComment([[${commentChild.id}]])"
                                                       th:value="삭제">
                                                <div class="row mb-4">
                                                    <details class="col-md-10 col-lg-9 mb-4">
                                                        <summary>댓글달기</summary>
                                                        <form th:id="${commentChild.id}" method="post">
                                                            <input type="hidden" th:name="postId"
                                                                   th:value="${post.id}"/>
                                                            <input type="hidden" th:name="boardId"
                                                                   th:value="${board.id}"/>
                                                            <input type="hidden" th:name="parentId"
                                                                   th:value="${comment.id}">
                                                            <textarea name="content" placeholder="댓글 내용"></textarea>
                                                            <input type="text" name="writerId" placeholder="작성자"/>
                                                            <button class=" btn btn-primary mt-2"
                                                                    th:onclick="saveComment([[${commentChild.id}]])">쓰기
                                                            </button>
                                                        </form>
                                                    </details>
                                                </div>
                                            </div>
                                        </div>
                                    </details>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </section>
    </div> <!--/* .content */-->

    <script>
        function saveComment(commentId) {
            let form = "";
            if (commentId == 'saveComment') {
                form = document.getElementById('saveComment');
            } else {
                form = document.getElementById(commentId);
            }

            if (form.content.value == "" || form.writerId.value == "") {
                alert("내용과 작성자 모두 입력해합니다");
                return false;
            }

            form.action = "/comment";
            form.submit();
        }

        function deleteComment(commentId) {

            let form2 = document.getElementById(commentId);
            form2.method = "get";
            form2.action = "/comment/delete/" + commentId;
            form2.submit();
        }


    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap core JS-->
    <script src="js/scripts.js"></script>
    <!-- Core theme JS-->
</th:block>

</html>